.lightbox {
	height: 500px;
	margin: 100px;
	background-color: #afF7cd;
	position: static;
}

.container2{
	background-color: red;
	margin: 20px;
	height: 200px;
}

#footer {
	background-color: black;
}

.facebookButton {
	vw: 5%;
}

.navbar-text p {

}

.navbar-nav {
	padding-right: 50px;
}